body {
    display: flex;
    justify-content: center;
    background: #dad299;
    background: -webkit-linear-gradient(to right, #dad299, #b0dab9);
    background: linear-gradient(to right, #dad299, #b0dab9);
}

#root {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3em;

    .item-tasks {
        display: flex;
        flex-direction: row;
        width: 90vw;
        justify-content: center;

        h3 {
            text-align: center;
        }

        .priority-low,
        .priority-middle,
        .priority-high {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 90%;
            margin-right: 1em;
        }

        .priority-low h2 {
            color: #27ae60;
            text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
        }
        .priority-middle h2 {
            color: #fff802;
            text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
        }
        .priority-high h2 {
            color: #c0392b;
            text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
        }

        ul {
            margin: 0;
            padding: 0;

            li {
                list-style-type: none;
                margin-bottom: 10px;
                background-color: #ffffff8c;
                width: 20em;
                padding: 0 20px;
                border-radius: 50px;
                line-height: 40px;
                display: flex;
                justify-content: space-between;
                font-size: 17px;

                input[type='checkbox'] {
                    margin-right: 1em;
                    cursor: pointer;
                }

                label {
                    position: absolute;
                    cursor: pointer;
                }

                .btn-trash {
                    background-image: url(../icons/trash.svg);
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 20px;
                    width: 20px;
                    height: 20px;
                    background-color: initial;
                    border: none;
                    outline: none;
                    cursor: pointer;

                    &:hover {
                        transform: scale(1.1);
                        transition: 0.8s;
                    }
                }

                .edit-btn-task {
                    background-image: url(../icons/pencil.svg);
                    background-repeat: no-repeat;
                    background-position: center;
                    margin-right: 10px;
                    width: 20px;
                    height: 20px;
                    background-color: initial;
                    border: none;
                    outline: none;
                    cursor: pointer;

                    &:hover {
                        transform: scale(1.1);
                        transition: 0.8s;
                    }
                }
                .edit-task-input {
                    outline: none;
                    border: none;
                    position: relative;
                    left: -90px;
                    height: 36px;
                    top: 1px;
                }
                .edit-hidden {
                    display: none;
                }
            }
        }

        .inputTask {
            width: 90%;
            height: 1em;
            border-radius: 20px;
            border-bottom: 0px;
            padding: 1em;
            outline: none;
            border-color: initial;
            border: none;
            transition: 1s;

            &::placeholder {
                transition: 1s;
            }

            &:focus {
                transition: 1s;
                transform: scale(0.95);
            }
        }
    }
}
