html {
    font-size: 10px;
}
* {
    box-sizing: border-box;
}
body {
    font-size: 1.6rem;
    font-family: "Roboto", sans-serif;
    background-image: linear-gradient(135deg, #7d5fff, #543bc3);
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    margin: 0;
}

.wrap {
    display: block;
    margin: 0 auto 0 auto;
    text-align: center;
}

.buttons-container {
    display: flex;
    position: relative;
    outline: none;
    cursor: pointer;
}

.add-task {
    background: #fff;
    border: 0;
    cursor: pointer;
    font-size: 24px;
    position: relative;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
    outline: none;
}
.add-task i {
    pointer-events: none;
    transition: 0.8s;
}

.iconClosetransform {
    transform: rotate(45deg);
}

div.list-container {
    display: flex;
    transition: 0.5s ease-out;
    justify-content: center;
    margin-top: 30px;
}
.list-container ul {
    padding: 0;
}
.list-container div {
    width: 20em;
}

li {
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: solid 1px rgba(128, 128, 128, 0.39);
    border-radius: 15px;
    min-width: 300px;
    max-width: 500px;
    height: 2em;
    font-size: 1.5rem;
    list-style-position: inside;
    list-style-type: none;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background-color: white;
    margin-bottom: 8px;
    opacity: 1;
    transition: 1s;
}

.low-priority {
    background-color: lavender;
    border-radius: 15px;
    padding: 10px;
    margin: 10px 10px 0 0;
    outline: none;
}
.low-priority ul {
    border-left: solid 5px;
    border-left-color: dodgerblue;
}
.medium-priority {
    background-color: lavender;
    border-radius: 15px;
    padding: 10px;
    margin: 10px 10px 0 0;
    outline: none;
}
.medium-priority ul {
    border-left: solid 5px;
    border-left-color: darkorange;
}
.high-priority {
    background-color: lavender;
    border-radius: 15px;
    padding: 10px;
    margin: 10px 10px 0 0;
    outline: none;
}
.high-priority ul {
    border-left: solid 5px;
    border-left-color: crimson;
}

.move {
    height: 0em;
    opacity: 0;
    transition:  1s;
    margin: 0;
}

.button__add-task {
    display: flex;
    position: relative;
    align-items: center;
    overflow: hidden;
    width: 0vmax;
    height: 50px;
    background-color: white;
    box-shadow: 5px 12px 21px -10px rgb(0 0 0 / 25%);
    -webkit-box-shadow: 5px 12px 21px -10px rgb(0 0 0 / 25%);
    -moz-box-shadow: 5px 12px 21px -10px rgb(0 0 0 / 25%);
    transition: 1s;
}

.inputTaskLong {
    width: 40vmax;
    transition: width 1s;
}

.input-task {
    display: block;
    font-size: 1.6rem;
    width: 95%;
    height: 4rem;
    border: none;
    border-radius: 10px;
    outline: none;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 300;
    font-family: "Roboto", sans-serif;
}

div .cotainer__button_task {
    display: flex;
    margin-right: 10px;
}
.cotainer__button_task > * {
    margin: 0;
}

.cotainer__button_task p {
    color: rgba(0, 0, 0, 0.699);
    margin-top: 0px;
    margin-bottom: 0;
    align-self: center;
    cursor: auto;
}
.cotainer__button_task input {
    cursor: pointer;
}

.cotainer__button_task .low-priority {
    font-size: 2rem;
    color: dodgerblue;
    border: none;
    background-color: initial;
    width: 40px;
}
.priority-1::before {
    color: dodgerblue;
}
.cotainer__button_task .medium-priority {
    font-size: 2rem;
    color: darkorange;
    border: none;
    background-color: initial;
    width: 40px;
}
.priority-2::before {
    color: darkorange;
}
.cotainer__button_task .high-priority {
    color: crimson;
    font-size: 2rem;
    border: none;
    background-color: initial;
    width: 40px;
}
.priority-3::before {
    color: crimson;
}

.cotainer__button_task .priority-1:hover,
.cotainer__button_task .priority-2:hover,
.cotainer__button_task .priority-3:hover {
    background-color: rgb(218, 218, 218);
    border-radius: 0;

}

.button__add-task .wrap-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: auto;
}

.close {
    position: absolute;
    right: 0;
    border: none;
    outline: none;
    background-color: unset;
    opacity: 0.5;
    margin-left: auto;
    cursor: pointer;
    z-index: 3;
}

.close::after {
    content: "\f00d";
    font-family: FontAwesome;
    color: teal;
    font-size: 20px;
}
.close:hover {
    opacity: 1;
}

input[type="checkbox"] {
    display: none;
}

.list-container label::before {
    content: "\f096";
    font-family: FontAwesome;
    /* color: black; */
    font-size: 20px;
    margin: 0 15px 0 10px;
}
.list-container label {
    display: flex;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-right: 25px;
}
.list-container label p {
    margin: 0;
}

.list-container input[type="checkbox"]:checked + label::before {
    content: "\f046";
    font-family: FontAwesome;
    color: #c3c3c3ec;
    font-size: 20px;
    margin: 0 12px 0 10px;
}
.list-container input[checked] + label {
    color: #c3c3c3ec;
}
