button {
  outline: none;
  cursor: pointer;
  min-width: 200px;
  color: white;
  border: 2px solid;
  border-radius: 20px;
  padding: 10px;
  font-size: 16px;
  margin-top: 10px;
  margin-left: 15px;
  opacity: 0.4;
}

button[data-action="show"] {
  background-color: red;
}

button[data-action="hide"] {
  background-color: gray;
}

.active {
  opacity: 0.9;
}

.active:hover {
  opacity: 1;
}

div.list-container {
  overflow: hidden;
  transition: 0.5s ease-out;
}

div.show {
  height: 250px;
}

div.hide {
  height: 50px;
}

li {
  list-style-position: inside;
  list-style-type: none;
  font-size: 16px;
  height: 20px;
  transition: 1s;
}
div .title {
  padding-left: 40px;
}

.stealth {
  height: 0em;
  overflow: hidden;
  transition:  1s ease-out;
}

